<li class="talks-list__talk group">
  <div class="speaker-avatar speaker-avatar--small"><%= gravatar_image_tag talk.speaker.email, :gravatar => { :size => 48 }, alt: talk.speaker.name %></div>
  <div class="talks-list__talk__info">
  <span class="is-smooth-text"><%= l talk.horary, :format => :talk %> na <%= talk.room.name %></span>
  <br>
  <strong><%= talk.name %></strong>
</li>
