.event-info {
	@include border-radius(8px);
	border: 1px solid #9A8572;
	padding: 1em;
	margin-bottom: 1.5em;
	font-size: 1.1em;
}

.event-info__date {
	@include inline-block;
	min-height: 40px;
	padding-left: 50px;
	margin-bottom: 1em;
	background-image: image-url("event-info-date-icon.png");
	background-repeat: no-repeat;
	background-position: top left;
	vertical-align: top;
}

.event-info__address {
	@include inline-block;
	min-height: 40px;
	padding-left: 50px;
	background-image: image-url("event-info-address-icon.png");
	background-repeat: no-repeat;
	background-position: top left;
	vertical-align: top;
}

.event-info__address address {
	font-style: normal;
}

@media screen and (min-width:600px) {
	.event-info {
		display: inline-block;
		margin-left: 3%;
		width: 56%;
	}
}