.headline {
	@include border-radius(8px);
	padding: .5em;
	background-color: #9A8572;
	font-family: "Rockwell";
	color: #FFF;
	text-align: center;
}

.headline span {
	display: block;
}

.headline__one {
	font-weight: bold;
	font-size: 3.7em;
	line-height: 1em;
}

.headline__two {
	font-size: 1.3em;
}

.headline__three {
	font-weight: bold;
	font-size: 1.9em;
}

@media screen and (min-width:600px) {
	.headline {
		display: inline-block;
		margin-left: 3%;
		width: 56%;
	}
}