.speaker-avatar {
	@include box-shadow(#BBB, 0, 0, 3px);
	@include inline-block;
	width: 80px;
	height: 80px;
	border: 6px solid #FFF;
	background-color: #FFF;
}

.speaker-avatar,
.speaker-avatar img {
	@include border-radius(50%);
}