.sponsors-list {
	padding-left: 0;
	list-style: none;
	text-align: center;
}

.sponsors-list li {
	@include inline-block;
	margin-bottom: 1.25em;
	vertical-align: middle;
	text-align: center;
	
	@media screen and (min-width:650px) {
		margin-bottom: 2em;
	}
}

.sponsors-list li img {
	width: 80%;
	
	@media screen and (min-width:500px) {
		width: 70%;
	}
}

/*
	Patrocinador Ouro
*/
.sponsors-list__gold li {
	width: 99%;
	
	@media screen and (min-width:500px) {
		width: 49%;
	}	
}

/*
	Patrocinador Prata
*/
.sponsors-list__silver li {
	width: 49%;
	
	@media screen and (min-width:500px) {
		width: 32%;
	}
	
	@media screen and (min-width:650px) {
		width: 24%;
	}
}

/*
	Patrocinador Bronze
*/
.sponsors-list__bronze li {
	width: 32%;
	
	@media screen and (min-width:500px) {
		width: 24%;
	}
	
	@media screen and (min-width:650px) {
		width: 19%;
	}
}

