.sponsors-list {
	list-style: none;
	padding-left: 0;
}

.sponsors-list li {
	@include inline-block;
	margin-left: 1.25em;
	margin-bottom: 1.25em;
	vertical-align: middle;
}

.sponsors-list__gold li:nth-child(2n+1) {
	margin-left: 0;
}

.sponsors-list__silver li:nth-child(3n+1) {
	margin-left: 0;
}

.sponsors-list__bronze li:nth-child(4n+1) {
	margin-left: 0;
}