.talks-list {
	list-style: none;
	margin-bottom: 2em;
	padding-left: 0;
}

.talks-list__talk {
	margin-bottom: 1.25em;
}

.talks-list__talk .speaker-avatar {
	float: left;
}

.talks-list__talk__info {
	margin-left: 80px;
}

.talks-list__talk__title {
	font-size: 1.1em;
}

.talks-list__talk__subtitle {
	margin-top: em(10px);
}

.talks-list__interval {
	@include border-radius(8px);
	margin-bottom: 1.25em;
	padding: .65em;
	background-color: #542337;
	line-height: 1.5em;
	text-align: center;
	color: #FFF;
}

@media screen and (min-width:600px) {
	.talks-list__talk__info {
		margin-left: 100px;
	}
}

@media screen and (min-width:800px) {
	.talks-list__talk__info {
		margin-left: 120px;
	}
}