@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	 -khtml-border-radius: $radius;
 	 	 -moz-border-radius: $radius;
					border-radius: $radius;
}

@mixin border-top-radius($radius) {
	-webkit-border-top-left-radius: $radius;
 -webkit-border-top-right-radius: $radius;
		 	-moz-border-radius-topleft: $radius;
		 -moz-border-radius-topright: $radius;
					border-top-left-radius: $radius;
				 border-top-right-radius: $radius;
}

@mixin inline-block {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

@mixin box-shadow($color, $hoffset, $voffset, $blur) {
  -webkit-box-shadow: $color $hoffset $voffset $blur;
  	 -moz-box-shadow: $color $hoffset $voffset $blur;
  				box-shadow: $color $hoffset $voffset $blur;
}