@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	 -khtml-border-radius: $radius;
 	 	 -moz-border-radius: $radius;
					border-radius: $radius;
}

@mixin inline-block {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

@mixin box-shadow($color, $hoffset, $voffset, $blur) {
  -webkit-box-shadow: $color $hoffset $voffset $blur;
  	 -moz-box-shadow: $color $hoffset $voffset $blur;
  				box-shadow: $color $hoffset $voffset $blur;
}